<!DOCTYPE html>
<html>
<head>
    <title>Hawkeye-Money Never Sleeps</title>
</head>
<body>
<div class="main-content ">
    <br><br><br><br><br><br><br><br><br><br><br>
    <div style="margin: 5px;">
        <a href="{% url 'time' %}">
            <input type="submit" value="TIME">
        </a>            
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div style="margin: 5px;">
        <a href="{% url 'trade-begin' %}">
            <input type="submit" value="TRADING">
        </a>            
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div style="margin: 5px;">
        <a href="{% url 'add-mycompanies' %}">
            <input type="submit" value="ALOT COMPANIES">
        </a>            
    </div>
</div>
</body>
</html>